.project__container {
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;

}

.project__card {
  width: 340px;
  background-color: var(--container-color);
  border: var(--border-default);
  padding: 1.25rem;
  border-radius: 1rem;
}

.project__rel {
  position: relative;
}

.project__img {
  height: 100%;
  border-radius: 1rem;
}

.project__link:hover .project__overlay {
  color: white;
  opacity: 100;
}

.project__container-image {
  position: relative;
  width: 295px;
  height: 194px;
  margin-bottom: 1rem;
}
.project__container-image img{
  width: 100%;
}

.project__title {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.project__description {
  font-size: var(--smaller-font-size);
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 1rem;
  z-index: 552;
  transition: opacity .3s ease;
}

@media screen and (max-width: 1170px) {
  .project__container {
    grid-template-columns: repeat(2, max-content);
    
  }
}

@media screen and (max-width: 992px) {
  .project__card {
    padding: 1rem;
  }

  .project__img {
    margin-bottom: 0.75rem;
  }

  .project__title {
    margin-bottom: 0.25rem;
  }
}

@media screen and (max-width: 768px) {
  .project__container {
      grid-template-columns: max-content;
      gap: 1.25rem;
  }
}