<section class="sobre">
  <div class="interface">
    <div class="flex">
      <div class="txt-sobre">
        <h2 class="titulo-2">SOBRE <span>MIM</span></h2>
        <p>
          Tenho experiência na criação e desenvolvimento de sites e blogs utilizando HTML, CSS, JavaScript e o framework Angular. Além disso, colaboro no design e desenvolvimento de interfaces responsivas para garantir uma experiência de usuário otimizada. Realizo manutenção contínua e atualização de páginas web, assegurando desempenho e funcionalidade ideais.
        </p>
        <p>
          Atualmente, direciono meus estudos para o aprofundamento de tecnologias back-end como Java, PostgreSQL, SpringBoot, entre outras. Também estou cursando Engenharia de Software, o que complementa minha formação e aprimora minhas habilidades técnicas e teóricas no desenvolvimento de software.
        </p>
        <p>
          Além da programação, adoro ouvir música, praticar exercícios físicos e jogar nas horas vagas, o que sempre me inspira a ser criativo e focado nos meus projetos.
        </p>
        <div class="social">
          <a href="https://www.github.com/ynfleozin" target="_blank"
            ><button><i class="fab fa-github"></i></button
          ></a>
          <a href="https://www.linkedin.com/in/leoalvarengam" target="blank"
            ><button><i class="fab fa-linkedin"></i></button
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
