<section class="skills">
  <div class="interface">
    <h2 class="titulo-1">MINHAS <span>SKILLS</span></h2>
    <div class="flex">
      <button class="nav-btn" (click)="prevSkill()">&lt;</button>
      <div class="skills-box previous">
        <i [class]="skills[prevSkillIndex].icon"></i>
        <h3>{{ skills[prevSkillIndex].name }}</h3>
      </div>
      <div class="skills-box current">
        <i [class]="skills[currentSkill].icon"></i>
        <h3>{{ skills[currentSkill].name }}</h3>
      </div>
      <div class="skills-box next">
        <i [class]="skills[nextSkillIndex].icon"></i>
        <h3>{{ skills[nextSkillIndex].name }}</h3>
      </div>
      <button class="nav-btn" (click)="nextSkill()">&gt;</button>
    </div>
  </div>
</section>
