<section class="topo-site">
  <div class="interface">
      <div class="flex">
          <div class="txt-topo-site">
              <p>Olá, visitante! 👋</p>
              <h1 id="typing-text" class="typing-effect">Eu sou Leonardo</h1>
              <h3>Desenvolvedor Full-Stack 🖥️</h3>
              <div class="btn-contato">
                  <a href="mailto:leonardoalvarengam@gmail.com">
                      <button id="btn-hd"><i class="fa-solid fa-envelope"></i> Contato</button>
                  </a>
              </div>
          </div>
          <div class="img-topo">
              <img src="assets/images/profilephoto.png" alt="">
          </div>
      </div>
  </div>
</section>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
